.warning {
  border: solid red 1px;
  border-radius: 0.2em;
}

.danger {
  font-size: 16px;
  color: red;
  margin: 0 auto;
}

.formulario {
  text-align: center;
}

.formulario-tittle {
  font-size: 20px;
  margin: 0 auto;
  padding-top: 30px;
}